USE [LIBRARY]
GO
/****** Object:  FullTextCatalog [booktypeCatalog]    Script Date: 6/11/2019 1:05:29 AM ******/
CREATE FULLTEXT CATALOG [booktypeCatalog]WITH ACCENT_SENSITIVITY = ON
AS DEFAULT

GO
/****** Object:  UserDefinedFunction [dbo].[func_NextAccountID]    Script Date: 6/11/2019 1:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[func_NextAccountID](@lastID varchar(10), @prefix varchar(7), @size int)
	returns varchar(10)
as
	BEGIN
	if(@lastID='')
	set @lastID = @prefix +REPLICATE(0,@size - LEN(@prefix))
	declare @num_nextID int, @nextID varchar(10)
	set @lastID = LTRIM(RTRIM(@lastID))
	set @num_nextID = REPLACE(@lastID,@prefix,'')+1
	set @size = @size - LEN(@prefix)
	set @nextID = @prefix +REPLICATE(0,@size -LEN(@prefix))
	set @nextID = @prefix +RIGHT(REPLICATE(0,@size) +CONVERT(varchar(MAX),@num_nextID),@size)
	return @nextID
	END

GO
/****** Object:  UserDefinedFunction [dbo].[func_NextID]    Script Date: 6/11/2019 1:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[func_NextID](@lastID varchar(6), @prefix varchar(3), @size int)
	returns varchar(6)
as
	BEGIN
	if(@lastID='')
	set @lastID = @prefix +REPLICATE(0,@size - LEN(@prefix))
	declare @num_nextID int, @nextID varchar(6)
	set @lastID = LTRIM(RTRIM(@lastID))
	set @num_nextID = REPLACE(@lastID,@prefix,'')+1
	set @size = @size - LEN(@prefix)
	set @nextID = @prefix +REPLICATE(0,@size -LEN(@prefix))
	set @nextID = @prefix +RIGHT(REPLICATE(0,@size) +CONVERT(varchar(MAX),@num_nextID),@size)
	return @nextID
	END

GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 6/11/2019 1:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[USERNAME] [varchar](255) NOT NULL,
	[PASS] [varchar](255) NOT NULL,
	[ROLE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BLACK_LIST]    Script Date: 6/11/2019 1:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BLACK_LIST](
	[ID] [varchar](50) NOT NULL,
	[READER_ID] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BOOK]    Script Date: 6/11/2019 1:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BOOK](
	[BOOK_ID] [varchar](50) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[AUTHOR] [nvarchar](255) NULL,
	[PH_ID] [varchar](50) NULL,
	[BTYPE_ID] [int] NULL,
	[PRICE] [float] NULL,
	[AMOUNT] [int] NULL,
	[SUMMARY] [nvarchar](1000) NULL,
	[PUBLISH_YEAR] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[BOOK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BOOK_TYPE]    Script Date: 6/11/2019 1:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_TYPE](
	[BTYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[BTYPE] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[BTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BORROW_DETAILS]    Script Date: 6/11/2019 1:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BORROW_DETAILS](
	[ID] [varchar](50) NOT NULL,
	[FORM_ID] [varchar](50) NOT NULL,
	[BOOK_ID] [varchar](50) NULL,
	[AMOUNT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[FORM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BORROW_FORM]    Script Date: 6/11/2019 1:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BORROW_FORM](
	[FORM_ID] [varchar](50) NOT NULL,
	[READER_ID] [varchar](50) NOT NULL,
	[EMPLOYEE_ID] [varchar](50) NULL,
	[LOAN_DATE] [date] NULL,
	[EXP_DATE] [date] NULL,
	[DEPOSIT] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[FORM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 6/11/2019 1:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EMPLOYEE_ID] [varchar](50) NOT NULL,
	[USERNAME] [varchar](255) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[EMPLOYEE_ADDRESS] [nvarchar](1000) NULL,
	[EMAIL] [varchar](255) NULL,
	[PHONE_NUMBER] [varchar](255) NULL,
	[DATE_OF_BIRTH] [date] NULL,
	[GENDER] [nvarchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAY_DETAILS]    Script Date: 6/11/2019 1:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAY_DETAILS](
	[ID] [varchar](50) NOT NULL,
	[FORM_ID] [varchar](50) NOT NULL,
	[BOOK_ID] [varchar](50) NULL,
	[AMOUNT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[FORM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAY_FORM]    Script Date: 6/11/2019 1:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAY_FORM](
	[ID] [varchar](50) NOT NULL,
	[BORROW_ID] [varchar](50) NULL,
	[EMPLOYEE_ID] [varchar](50) NULL,
	[PAY_DATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PUBLISHING_HOUSE]    Script Date: 6/11/2019 1:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PUBLISHING_HOUSE](
	[PH_ID] [varchar](50) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[PH_ADDRESS] [nvarchar](1000) NULL,
	[PHONE_NUMBER] [varchar](20) NULL,
	[EMAIL] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[READER]    Script Date: 6/11/2019 1:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[READER](
	[READER_ID] [varchar](50) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[DATE_OF_BIRTH] [date] NULL,
	[READER_ADDRESS] [nvarchar](1000) NULL,
	[GENDER] [nvarchar](3) NULL,
	[PHONE_NUMBER] [varchar](20) NULL,
	[EMAIL] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[READER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ACCOUNT] ([USERNAME], [PASS], [ROLE]) VALUES (N'account001', N'21232f297a57a5a743894a0e4a801fc3', 1)
INSERT [dbo].[ACCOUNT] ([USERNAME], [PASS], [ROLE]) VALUES (N'account002', N'8a107448b3e14e90529a74793d5a9d4e', 0)
INSERT [dbo].[ACCOUNT] ([USERNAME], [PASS], [ROLE]) VALUES (N'account003', N'a262d1f3ea712ba434e5dd14736c96d5', 0)
INSERT [dbo].[BOOK] ([BOOK_ID], [NAME], [AUTHOR], [PH_ID], [BTYPE_ID], [PRICE], [AMOUNT], [SUMMARY], [PUBLISH_YEAR]) VALUES (N'MB0001', N'Tiếng Anh 10', N'Trần Phương', N'PH0003', 2, 30000, 15, N'Giáo trình', CAST(N'2013-02-20' AS Date))
INSERT [dbo].[BOOK] ([BOOK_ID], [NAME], [AUTHOR], [PH_ID], [BTYPE_ID], [PRICE], [AMOUNT], [SUMMARY], [PUBLISH_YEAR]) VALUES (N'MB0002', N'Tiếng Anh 11', N'Trần Phương', N'PH0003', 2, 40000, 7, N'Giáo trình', CAST(N'2013-02-20' AS Date))
INSERT [dbo].[BOOK] ([BOOK_ID], [NAME], [AUTHOR], [PH_ID], [BTYPE_ID], [PRICE], [AMOUNT], [SUMMARY], [PUBLISH_YEAR]) VALUES (N'MB0003', N'Thế giới phẳng', N'Thomas', N'PH0006', 6, 123000, 2, N'Tài liệu', CAST(N'1998-07-21' AS Date))
SET IDENTITY_INSERT [dbo].[BOOK_TYPE] ON 

INSERT [dbo].[BOOK_TYPE] ([BTYPE_ID], [BTYPE]) VALUES (1, N'Sách khoa học')
INSERT [dbo].[BOOK_TYPE] ([BTYPE_ID], [BTYPE]) VALUES (2, N'Sách tiếng anh')
INSERT [dbo].[BOOK_TYPE] ([BTYPE_ID], [BTYPE]) VALUES (3, N'Sách văn học')
SET IDENTITY_INSERT [dbo].[BOOK_TYPE] OFF
INSERT [dbo].[EMPLOYEE] ([EMPLOYEE_ID], [USERNAME], [NAME], [EMPLOYEE_ADDRESS], [EMAIL], [PHONE_NUMBER], [DATE_OF_BIRTH], [GENDER]) VALUES (N'NV0001', N'account001', N'Nguyễn Hoàng Giang', N'477 Lê Hồng Phong', N'giang12021998@gmail.com', N'0389041902', CAST(N'1998-02-12' AS Date), N'Nam')
INSERT [dbo].[EMPLOYEE] ([EMPLOYEE_ID], [USERNAME], [NAME], [EMPLOYEE_ADDRESS], [EMAIL], [PHONE_NUMBER], [DATE_OF_BIRTH], [GENDER]) VALUES (N'NV0002', N'account002', N'Lê Thành Công', N'25 Điện Biên Phủ', N'thanhcong@gmail.com', N'0381235124', CAST(N'2000-05-29' AS Date), N'Nam')
INSERT [dbo].[EMPLOYEE] ([EMPLOYEE_ID], [USERNAME], [NAME], [EMPLOYEE_ADDRESS], [EMAIL], [PHONE_NUMBER], [DATE_OF_BIRTH], [GENDER]) VALUES (N'NV0003', N'account003', N'Hồ Bích Phương', N'08 Mai Chí Thọ', N'bichphuong@gmail.com', N'0240578542', CAST(N'1995-12-12' AS Date), N'Nữ')
INSERT [dbo].[PUBLISHING_HOUSE] ([PH_ID], [NAME], [PH_ADDRESS], [PHONE_NUMBER], [EMAIL]) VALUES (N'PH0001', N'Kim đồng', N'123 Trần Phú', N'0123874123', N'kimdong@gmail.com')
INSERT [dbo].[PUBLISHING_HOUSE] ([PH_ID], [NAME], [PH_ADDRESS], [PHONE_NUMBER], [EMAIL]) VALUES (N'PH0002', N'Thiếu nhi', N'98 Lê Duẩn', N'0121268033', N'thieunhi@gmail.com')
INSERT [dbo].[PUBLISHING_HOUSE] ([PH_ID], [NAME], [PH_ADDRESS], [PHONE_NUMBER], [EMAIL]) VALUES (N'PH0003', N'Giáo dục', N'12 Hoàng Mai', N'011202547', N'giaoduc@gmail.com')
INSERT [dbo].[READER] ([READER_ID], [NAME], [DATE_OF_BIRTH], [READER_ADDRESS], [GENDER], [PHONE_NUMBER], [EMAIL]) VALUES (N'DG0001', N'Nguyễn Hoàng Giang', CAST(N'1998-02-12' AS Date), N'477 Lê Hồng Phong', N'Nam', N'0381923102', N'giang@gmail.com')
INSERT [dbo].[READER] ([READER_ID], [NAME], [DATE_OF_BIRTH], [READER_ADDRESS], [GENDER], [PHONE_NUMBER], [EMAIL]) VALUES (N'DG0002', N'Lê Hồ Nhi', CAST(N'2001-05-25' AS Date), N'13 Trần Phú', N'Nữ', N'0351200157', N'honhi@gmail.com')
INSERT [dbo].[READER] ([READER_ID], [NAME], [DATE_OF_BIRTH], [READER_ADDRESS], [GENDER], [PHONE_NUMBER], [EMAIL]) VALUES (N'DG0003', N'Nguyễn Mạnh Cường', CAST(N'1999-03-08' AS Date), N'25 Điện Biên Phủ', N'Nam', N'0312356631', N'mcuong@gmail.com')
ALTER TABLE [dbo].[BLACK_LIST]  WITH CHECK ADD  CONSTRAINT [FK_READER_BLACKLIST] FOREIGN KEY([READER_ID])
REFERENCES [dbo].[READER] ([READER_ID])
GO
ALTER TABLE [dbo].[BLACK_LIST] CHECK CONSTRAINT [FK_READER_BLACKLIST]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK_BOOKTYPE_BOOK] FOREIGN KEY([BTYPE_ID])
REFERENCES [dbo].[BOOK_TYPE] ([BTYPE_ID])
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK_BOOKTYPE_BOOK]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK_PHOUSE_BOOK] FOREIGN KEY([PH_ID])
REFERENCES [dbo].[PUBLISHING_HOUSE] ([PH_ID])
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK_PHOUSE_BOOK]
GO
ALTER TABLE [dbo].[BORROW_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_BORROWDETAILS] FOREIGN KEY([BOOK_ID])
REFERENCES [dbo].[BOOK] ([BOOK_ID])
GO
ALTER TABLE [dbo].[BORROW_DETAILS] CHECK CONSTRAINT [FK_BOOK_BORROWDETAILS]
GO
ALTER TABLE [dbo].[BORROW_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_BORROWFORM_BORROWDETAILS] FOREIGN KEY([FORM_ID])
REFERENCES [dbo].[BORROW_FORM] ([FORM_ID])
GO
ALTER TABLE [dbo].[BORROW_DETAILS] CHECK CONSTRAINT [FK_BORROWFORM_BORROWDETAILS]
GO
ALTER TABLE [dbo].[BORROW_FORM]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_BORROW_FORM] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[BORROW_FORM] CHECK CONSTRAINT [FK_EMPLOYEE_BORROW_FORM]
GO
ALTER TABLE [dbo].[BORROW_FORM]  WITH CHECK ADD  CONSTRAINT [FK_READER_BORROW_FORM] FOREIGN KEY([READER_ID])
REFERENCES [dbo].[READER] ([READER_ID])
GO
ALTER TABLE [dbo].[BORROW_FORM] CHECK CONSTRAINT [FK_READER_BORROW_FORM]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_EMPLOYEE] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[ACCOUNT] ([USERNAME])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_ACCOUNT_EMPLOYEE]
GO
ALTER TABLE [dbo].[PAY_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_PAYDETAILS] FOREIGN KEY([BOOK_ID])
REFERENCES [dbo].[BOOK] ([BOOK_ID])
GO
ALTER TABLE [dbo].[PAY_DETAILS] CHECK CONSTRAINT [FK_BOOK_PAYDETAILS]
GO
ALTER TABLE [dbo].[PAY_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_PAYFORM_PAYDETAILS] FOREIGN KEY([FORM_ID])
REFERENCES [dbo].[PAY_FORM] ([ID])
GO
ALTER TABLE [dbo].[PAY_DETAILS] CHECK CONSTRAINT [FK_PAYFORM_PAYDETAILS]
GO
ALTER TABLE [dbo].[PAY_FORM]  WITH CHECK ADD  CONSTRAINT [FK_BORRROWFORM_PAYFORM] FOREIGN KEY([BORROW_ID])
REFERENCES [dbo].[BORROW_FORM] ([FORM_ID])
GO
ALTER TABLE [dbo].[PAY_FORM] CHECK CONSTRAINT [FK_BORRROWFORM_PAYFORM]
GO
